@import url('https://fonts.googleapis.com/css2?family=Cookie&family=Dancing+Script&family=Hachi+Maru+Pop&family=Homemade+Apple&family=Josefin+Slab:wght@200&family=Kaushan+Script&family=Mali:wght@300&family=Marck+Script&family=Nanum+Brush+Script&family=Pacifico&family=Press+Start+2P&family=Puppies+Play&family=Sacramento&family=Satisfy&family=Staatliches&family=Sue+Ellen+Francisco&family=Supermercado+One&family=Tangerine:wght@700&display=swap');

.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}


.dancingFont {
    font-family: 'Dancing Script', cursive;
}